<div class="innerContainer">
    <button class="button timeButton playwrite-au-nsw" id="timeButton">Need the time?</button>
    <div class="time" id="time"></div>

    <header>
        <h1 id="engineName" class="title playwrite-au-nsw">Glimpse</h1>
    </header>

    <article class="searchBar" id="searchBar">

        <div class="searchInput">
            <input type="text" class="searchBox" id="searchBox" placeholder="Search for...">
        </div>
        <br>
        <div class="searchButtons playwrite-au-nsw">
            <button class="button" id="searchButton">Search</button>
            <button class="button" id="luckyButton">Feeling Lucky?</button>
        </div>
    </article>

    <div class="searchResults" id="searchResults"></div>
</div>