html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  body {
    background-image: url('/images/landscape-chicago-main.jpeg');
  }
}

@media (max-width: 768px) {
  body {
    background-image: url('/images/portrait-chicago-main.jpeg');
  }
}

.button:hover {
  cursor: default;
}

body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  margin: 10px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: fit-content;
  cursor: default;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.searchBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 20px 0;
}

.searchButtons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.searchInput {
  flex: 1;
  max-width: 45vw; 
  min-height: 50px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.searchResults {
  display: none;
  visibility: hidden;
}

.timeButton {
  position: absolute;
  top: 0;
  left: 0;
}

.time {
  display: none;
  visibility: hidden;
}

.ui-dialog {
  transition: background-color 0.3s;
}

.ui-dialog-titlebar {
  text-align: center;
  min-height: 1.5em;
}

.ui-dialog-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ui-dialog-content {
  position: relative;
  padding: 20px;
  text-align: center;
  font-weight: bold; 
}