html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  body {
    background-image: url('../images/landscape-chicago-main.jpeg');
  }
}

@media (max-width: 768px) {
  body {
    background-image: url('../images/portrait-chicago-main.jpeg');
  }
}

.title {
  cursor: default;
}

.button:hover {
  cursor: default;
}

body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.sidebar {
  width: 250px; /* Fixed width for the sidebar */
  padding: 20px; /* Padding inside the sidebar */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* Used some absolute positioning since this is very simple but a grid/flexbox mix is better practice */
.title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchBar {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 20px 0;
}

.searchButtons {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.searchBar input {
  flex: 1;
  max-width: 35em; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
}

.buttonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.searchResults {
  visibility: hidden;
}

.time {
  visibility: hidden;
}

.ui-dialog {
  transition: background-color 0.3s;
}

.ui-dialog-titlebar {
  text-align: center;
  min-height: 1.5em;
}

.ui-dialog-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ui-dialog-content {
  position: relative;
  padding: 20px;
  text-align: center;
  font-weight: bold; 
}